<%= form_with(model: student, local: true) do |form| %>
  <% if student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
        <% student.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <h5><div class="field">
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div>
  <br>
  <div class="field">
    <%= form.label :address %><br>
    <%= form.text_area :address %>
  </div></h5>

  <div class="actions"><br>
    <%= form.submit class:"btn btn-info" %>
  </div>
<% end %>
