<p id="notice"><%= notice %></p>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <h5><%= link_to "BOOKS", "/books", class: 'link-to-text-color' %></h5>
      </li>
      <li class="nav-item">
        <h5><%= link_to 'STUDENTS', "/students", class: 'link-to-text-color'  %></h5>
      </li>
    </ul>
  </div>
</nav>
<style>
  .link-to-text-color{
    color: #66FCF1;
   }
</style>
<p>
  <h3><strong>Name:</strong>
  <%= @student.name %></h3>
</p>

<p>
  <h3><strong>Address:</strong>
  <%= @student.address %></h3>
</p>

<%= link_to 'Edit', edit_student_path(@student),class: "btn btn-info" %>
<%= link_to "Delete", student_path(@student.id), method: :delete,class: "btn btn-info" %>
<%= link_to 'Back', students_path,class: "btn btn-info" %>
